# =========================
# Archivos sensibles
# =========================
.env
*.env
.env.local
.env.*.local

# Bloquear despliegues locales de OpenZeppelin (contienen claves)
.openzeppelin/

# Auditorías locales
balances.json
burn-log.json
ownership-signature.txt

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Hardhat
# =========================
cache/
artifacts/

# =========================
# TypeChain
# =========================
typechain/
typechain-types/

# =========================
# solidity-coverage
# =========================
coverage/
coverage.json

# =========================
# Hardhat Ignition
# =========================
ignition/deployments/chain-31337/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/
